################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TickerQPlayground/bin/Debug/net9.0
/TickerQPlayground/obj
